/* Container for the card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  width: 400px;
  height: 180px;
  padding: 1rem;
  margin: 0 20px;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: blockEntry 1.5s ease-in-out 1s 1 normal forwards;
  opacity: 0;

}

.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Image placeholder */
.card__image {
  position: absolute;
  bottom: -2.5rem;
  right: -2.5rem;
  width: 50%;
  height: 50%;
  background-color: #e5e7eb;
  transition: transform 0.7s, box-shadow 0.7s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.card:hover .card__image {
  transform: translateY(-1rem) translateX(-1rem);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Content area */
.card__content {
  width: 100%;
}

.card__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #1f2937;
}

.card__text {
  font-size: 1.5rem;
  color: #4b5563;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.card__button {
  background-color: #e5e7eb;
  color: #1f2937;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card__button:hover {
  background-color: #d1d5db;
}

@keyframes blockEntry {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 1;
    transform: translateX(-10px);
  }
}

@media only screen and (max-width: 960px) {
  .card {
    width: 350px;
    height: 150px;
    margin: 20px 0;
  }

}

@media only screen and (max-width: 420px) {

  .card {
    width: 100%;
    height: 150px;
    margin: 20px 20px;
  }

  .card__title {
    font-size: 2.5rem;

  }

  .card__text {
    font-size: 2rem;
  }
}